<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shanika.expensetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.shanika.expensetracker.Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SetLimit"
            android:label="limit" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.SetLimit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Categories" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.Categories" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AddCategory" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.AddCategory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Search" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.Search" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".History" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.History" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".NewRecord" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.NewRecord" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AddFrequentRecords" >
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.AddFrequentRecords" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".FrequentRecordDisplay">
            <intent-filter>

                <action android:name="com.example.shanika.expensetracker.FrequentRecordDisplay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>